/.vs
/Dependencies
/Build/xGPUExamples.vs2022/imgui.ini
/Build/xGPUExamples.vs2022/assimp-vc142-mt.dll
/Build/xGPUExamples.vs2022/.vs
/Build/xGPUExamples.vs2022/x64
/Build/xGPUExamples.vs2022/xGPUExamples/x64/Debug
Build/xGPUExamples.vs2022/assimp-vc143-mt.dll
